@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap");

:root {
  --cobalt: #023047;
  --cobalt-50: #02304780;
  --carbon: #333333;
  --aquamarine: #7fffd4;
  --green: #80ff80;
  --blue: #00e8fc;
  --intenseblue: #018aa0;
  --bg: white;
  --fg: var(--cobalt);
  --fg-50: var(--cobalt-50);
  --brand1: var(--aquamarine);
  --brand2: var(--green);
  --brand3: var(--intenseblue);
}

h1,
h2,
h3 {
  margin: 0;
  font-family: "Secular One", sans-serif;
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  background: var(--bg);
  color: var(--fg);
  font-family: "Lora", serif;

}

nav {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100vh;
  /* background: var(--fg); */
  backdrop-filter: blur(50px);
  display: none;
}

main {
}

header,
footer {
  background: linear-gradient(
    60deg,
    var(--fg) 0%,
    var(--fg) 30%,
    var(--brand3) 100%
  );
  color: var(--bg);
  padding: 3rem 0;
  margin: 0 0 3rem;
  height: auto;
}

.anim header {
  /* height: 100vh; */
  /* transition: all 1s ease-in-out; */
}

section {
  max-width: 1024px;
  width: 70vw;
  margin: 8rem auto;
}

h1 {
  /* color: var(--brand1); */
  font-weight: 300;
  font-size: 4.5rem;
  /* line-height: 4rem; */
  margin: 0 0 4rem 0;
}

h1 > *,
footer h2 {
  font-size: 3.5rem;
  display: block;
  background-image: linear-gradient(90deg, var(--brand1), var(--brand2));
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  margin-top: 2.4rem;
}

h1 > span {
  line-height: 3.5rem;
}

h1 > strong {
  font-weight: normal;
  font-size: 5rem;
  /* color: var(--brand2);
  font-style: normal;
  font-size: 4rem;
  display: block;
  font-weight: 700; */
}

h2 {
  background-image: linear-gradient(90deg, var(--brand3), var(--fg));
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-size: 2.5rem !important;
  line-height: 2.8rem;
}

h2::before {
  content: "⨳";
  /* display: block;
  width: 100%;
  height: 1px;
  background: var(--brand3);
  margin: 1rem 0; */
}

h3 {
  font-weight: 300;
  font-size: 1.6rem;
  margin: 0 0 0.7rem 0;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

h3 > span {
  opacity: 0.4;
}

article {
  margin: 3rem 0 4.5rem;
  /* padding: 1rem 0; */
  /* border-radius: 5px; */
  background: var(--bg);
  /* border-left: 5px solid var(--brand1); */
  /* backdrop-filter: blur(6px) brightness(104%); */
  /* filter: drop-shadow(4px 4px 10px var(--fg)) */
}

article > *:not(video) {
  margin-left: 1rem;
  margin-right: 1rem;
}

video {
  width: 100%;
  box-shadow: 0 0 10px var(--fg-50);
  border-radius: 5px;
}

article img {
  filter: grayscale(1);
  height: 3rem;
}

p {
  font-size: 1.1rem;
  line-height: 2rem;
}

a {
  color: var(--brand3);
  background-color: var(--brand1);
  text-decoration: none;
  padding: 0.1rem 0.2rem;
  border-radius: 3px;
}

img.profile {
  object-fit: cover;
  width: 8rem;
  height: 8rem;
  border-radius: 99px;
  margin-right: 1rem;
  /* filter: sepia(100%) saturate(300%) brightness(90%) hue-rotate(110deg); */
}

footer {
  margin-bottom: 0;
  padding-bottom: 8rem;
}

footer h2 {
  margin-bottom: 3rem;
}
